<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>Great Number Game!</title>
    </head>
	<body>
		<div id="container">

			<h1>Welcome to the Great Number Game!</h1>
			<h3>I am thinking a number between 1 and 100</h3>
			<p>Take a guess</p>

		{% if 'message' in session %}
		{% if session['message'] == "Too Low!" or session['message'] == "Too High!" %}
			<div>
				{{session['message']}}
			</div>

			<form class="" action="/result" method="POST">
				<input type="text" name="number" value="">
				<button>Submit</button>
			</form>

		{% else %}
			<div>
				{{session['message']}}
				<form action="/reset" method="GET">
					<button>Play Again!</button>
				</form>
			</div>

		{% endif %}

		{% else %}
			<form action="/result" method="post">
				<input type="text" name="number" value="">
				<button>Submit</button>
			</form>
		{% endif %}  

		</div>
	</body>
</html>